@color-primary: #2457c6;
@color-link: #346ae5;
@color-discount: #f44336;
@color-price-view: #feea84;
@color-text: #000000;
@color-heading: #000000;
@color-border: #979797;
@color-border-transparent: rgba(@color-border, 0.13);

@border-radius-small: 6px;
@border-radius-medium: 8px;
